:root {
  --light-blue: #2998ff;
  --dark-blue: #00008B;
  --light-red: #FF7F7F;
  --dark-red: #8b0000;


  --primary-warm: var(--light-red);
  --secondary-warm: var(--dark-red);

  --primary-cool: var(--light-blue);
  --secondary-cool: var(--dark-blue);
}

.warm {
  background-color: var(--primary-warm);
}

.cool {
  background-color: var(--primary-cool);
}

#butt {
  align-items: center;
}
